header {
  color: white;
  position: absolute;
  width: 100%;
  padding: 20px;
  z-index: 10;

  .logo {
    display: inline-block;
  }
}

nav {
  display: inline-block;
  float: right;
  text-align: right;

  a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0 10px;
  }
}